#galleryAssets {
	display               : grid;
	grid-template-columns : repeat( auto-fill, 200px);
	grid-gap              : 20px;

	.gallery-asset {
		cursor          : grab;
		background      : #f8f8f8;
		border          : 2px solid #ccc;
		border-radius   : 10px;
		padding         : 8px;
		width           : 200px;
		height          : 190px;
		display         : flex;
		align-items     : center;
		justify-content : center;
		position        : relative;

		&-image {
			position : relative;
			width    : 180px;
			height   : 120px;

			&::after {
				box-shadow : inset 0px 0px 5px 0px rgba( 0, 0, 0, 0.4 );
				content    : '';
				display    : block;
				position   : absolute;
				top        : 0;
				left       : 0;
				right      : 0;
				bottom     : 0;
			}
		}

		img {
			max-width  : 100%;
			max-height : 100%;
		}

		&-actions {
			background    : #ddd;
			display       : none;
			border-radius : 0 0 8px 8px;
			padding       : 3px;
			position      : absolute;
			bottom        : 0;
			right         : 0;
			left          : 0;
			text-align    : center;

			a {
				display : inline-block;
				margin  : 0 10px;
			}
		}

		&:hover {
			background : #eee;

			.gallery-asset-actions {
				display : block;
			}
		}
		&.ui-sortable-helper {
			background   : #d9edf7;
			border-color : #bce8f1;

			.gallery-asset-actions {
				display : none;
			}
		}
	}
}

#galleryAssetsOrderForm .form-actions {
	margin-top    : 0;
	margin-bottom : 0;
}

.gallery-edit-caption-image {
	text-align : center;
	margin-top : 3em;

	img {
		max-width : 90%;
	}
}