<cf_presideparam name="args.id"           />
<cf_presideparam name="args.title"        />
<cf_presideparam name="args.asset_folder" />
<cf_presideparam name="args.poster_image" />

<cfscript>
	galleryUrl = event.buildLink( galleryId=args.id );
</cfscript>

<cfoutput>
	<li>
		<a href="#galleryUrl#">#args.title#</a>
	</li>
</cfoutput>